body {
    font-family: 'Lato', sans-serif;
}
#hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)),
    url('https://cdn.wallpapersafari.com/59/37/G3TQKr.jpg');
    height: 700px;
    width: 1420px;
    background-size: cover;
    color: #fff;
}

#hero h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
    font-weight: 700;
}

.container button {
    font-size: 1rem;
    color: #fff;
    background-color: #60afff;
    border-color: #000000;
    padding: .3rem 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.content {
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

.content button {
    font-size: 2rem;
    color: #fff;
    background-color: #60afff;
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.about {
  text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
}