body {
    font-family: 'Lato', sans-serif;
}
#hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)),
    url('https://cdn.wallpapersafari.com/59/37/G3TQKr.jpg');
    height: 900px;
    width: 1420px;
    background-size: cover;
    color: #fff;
}

#hero h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 5rem;
    font-weight: 700;
}

.container button {
    font-size: 1rem;
    color: #fff;
    background-color: #ff637d;
    border-color: #000000;
    padding: .3rem 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.content {
    width: 100%;
}

.profile1 {
    display: inline-block;
    width: 19.5%;
    height: 500px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 10px solid rgb(255, 102, 102) ;
    border-right: 10px solid;
    line-height: 100px;
}

.profile1in{
    width: 75%;
    height: 155px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 5px solid rgb(255, 0, 0) ;
    border-right: 10px solid;
    line-height: 50px;
}

.profile2 {
    display: inline-block;
    width: 19.5%;
    height: 500px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 10px solid rgb(122, 255, 102) ;
    border-right: 10px solid;
    line-height: 100px;
}

.profile2in{
    width: 75%;
    height: 155px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 5px solid rgb(0, 134, 2) ;
    border-right: 10px solid;
    line-height: 50px;
}

.profile3 {
    display: inline-block;
    width: 19.5%;
    height: 500px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 10px solid rgb(158, 102, 255) ;
    border-right: 10px solid;
    line-height: 100px;
}

.profile3in{
    width: 75%;
    height: 155px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 5px solid rgb(221, 0, 255) ;
    border-right: 10px solid;
    line-height: 50px;
}

.profile4 {
    display: inline-block;
    width: 19.5%;
    height: 500px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 10px solid rgb(255, 103, 197) ;
    border-right: 10px solid;
    line-height: 100px;
}

.profile4in{
    width: 75%;
    height: 155px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 5px solid rgb(255, 0, 102) ;
    border-right: 10px solid;
    line-height: 50px;
}

img {
    width: 50px;
    height: auto;
}

.form1 {
    background-color: #ff8989;
    /*box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
}

.form2 {
    background-color: #458e5f;
    /*box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
}

.form3 {
    background-color: #ce89ff;
    /*box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
}

.form4 {
    background-color: #fd89ff;
    /*box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 200px;
    margin: auto;
    position: relative;
}

.q1 {
    font-size: 12;
}
.q2 {
    font-size: 12;
}
.q3 {
    font-size: 12;
}
.q4 {
    font-size: 12;
}

.b1 {
    color: #ff8d8d;
}
.b2 {
    color: #8dffcc;
}
.b3 {
    color: #e18dff;
}
.b4 {
    color: #ff8ddb;
}
    



.about {
    height:25px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-left:20px;

}