body {
    font-family: 'Lato', sans-serif;
}
#hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)),
    url('https://cdn.wallpapersafari.com/59/37/G3TQKr.jpg');
    height: 900px;
    width: 1420px;
    background-size: cover;
    color: #fff;
}

#hero h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 5rem;
    font-weight: 700;
}

.container button {
    font-size: 1rem;
    color: #fff;
    background-color: #ffbc98;
    border-color: #000000;
    padding: .10rem 10rem;
    cursor: pointer;
    transition: all .3s ease;
}

.profile {
    display: inline-block;
    width: 19.5%;
    height: 500px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    /*box-sizing: border-box;*/
    background-color: #000000;
    border: 10px solid rgb(255, 102, 102) ;
    border-right: 10px solid;
    line-height: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 99, 99, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropcontent {
    display: block;
}

.boxed {
    border: 5px solid rgb(107, 169, 255) ;
}

.about {
    height:25px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;
    margin-left:20px;

}